__pycache__/
build/
dist/
*.egg-info/
*.egg
.venv/
venv/
.vscode/

# Ruff
.ruff_cache/

# Application specific
config/*
downloads/
completed/
*.toml
!pyproject.toml
!config/audiobook-dl.toml
cookies.txt
.env
*.log
logs/
